parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Exports\\CustomersExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/CustomersExport.php

		-
			message: '#^Method App\\Exports\\ExpenseTransactionsExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: app/Exports/ExpenseTransactionsExport.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Accounts\\AccountAdjust\>\:\:applySorting\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/Accounts/AccountAdjustsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Accounts\\AccountAdjust\>\:\:search\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/Accounts/AccountAdjustsController.php

		-
			message: '#^Method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Employees\\EmployeeCommissionTarget\>\:\:whereMonth\(\) invoked with 1 parameter, at least 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/Api/Employees/EmployeesController.php

		-
			message: '#^Method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Employees\\EmployeeCommissionTarget\>\:\:whereYear\(\) invoked with 1 parameter, at least 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/Api/Employees/EmployeesController.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator\:\:through\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/Items/PriceListsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Setups\\Accounts\\IncomeCategory\>\:\:isRoot\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/ListDataController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Setups\\Expenses\\ExpenseCategory\>\:\:isRoot\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/ListDataController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Http/Controllers/Api/Reports/Finance/BalanceSheetController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<TRelatedModel of Illuminate\\Database\\Eloquent\\Model\>\:\:approved\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Api/Reports/Finance/VatReportController.php

		-
			message: '#^Method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Setups\\TaxCode\>\:\:active\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/Api/Setups/TaxCodesController.php

		-
			message: '#^PHPDoc tag @return with type array\<string, string\> is incompatible with native type void\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Http/Requests/Api/Items/PriceListsStoreRequest.php

		-
			message: '#^PHPDoc tag @return with type array\<string, string\> is incompatible with native type void\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Http/Requests/Api/Items/PriceListsUpdateRequest.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Resources/Api/Setups/Users/UserResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\Tenant, \$this\(App\\Models\\BackupLog\)\>\:\:on\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/BackupLog.php

		-
			message: '#^Method App\\Models\\Expenses\\ExpenseTransaction\:\:purchaseExpense\(\) has invalid return type App\\Models\\Expenses\\PurchaseExpense\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Expenses/ExpenseTransaction.php

		-
			message: '#^Type App\\Models\\Expenses\\PurchaseExpense in generic type Illuminate\\Database\\Eloquent\\Relations\\HasOne\<App\\Models\\Expenses\\PurchaseExpense, \$this\(App\\Models\\Expenses\\ExpenseTransaction\)\> in PHPDoc tag @return is not subtype of template type TRelatedModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Relations\\HasOne\.$#'
			identifier: generics.notSubtype
			count: 1
			path: app/Models/Expenses/ExpenseTransaction.php

		-
			message: '#^Call to an undefined method App\\Models\\Items\\Item\:\:getCurrentCostAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Inventory/Inventory.php

		-
			message: '#^PHPDoc tag @use has invalid type Database\\Factories\\Setups\\CurrencyFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Setups/Generals/Currencies/Currency.php

		-
			message: '#^Type Database\\Factories\\Setups\\CurrencyFactory in generic type Illuminate\\Database\\Eloquent\\Factories\\HasFactory\<Database\\Factories\\Setups\\CurrencyFactory\> in PHPDoc tag @use is not subtype of template type TFactory of Illuminate\\Database\\Eloquent\\Factories\\Factory of trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory\.$#'
			identifier: generics.notSubtype
			count: 1
			path: app/Models/Setups/Generals/Currencies/Currency.php

